body {
	color: hsl(238, 29%, 16%);
	font-family: 'Kumbh Sans', sans-serif;
	font-size: 12px;
	background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%)) no-repeat;
	background-size: cover;
	height: 100vh;
	display: grid;
}

h1 {
	font-weight: bold;
	font-size: 2rem;
	margin-bottom: 25px;
}

h2 {
	font-size: 14px;
	font-weight: normal;
	color: hsl(237, 12%, 33%);
}

h2:hover {
	color: hsl(14, 88%, 65%);
	cursor: pointer;
}

h2:active {
	color: hsl(238, 29%, 16%);
}

hr {
	color: hsl(240, 5%, 91%);
}

p {
	color: hsl(240, 6%, 50%);
}

.container {
	border-radius: 1.5rem;
	margin: auto;
	width: 90%;
}

/* .bg-desktop {
	background-image: url("images/illustration-woman-online-desktop.svg"), url("images/bg-pattern-desktop.svg");
	background-repeat: no-repeat, no-repeat;
	background-size: 40% auto, 75% auto;
	background-position: calc(100% - 750px) calc(100% - 30px), calc(100% - 750px) calc(100% + 150px);
} */

/* bg-pattern-desktop #box {
	position: relative;
	left: 115px;
	top: 325px;
	z-index: 100;
} */

.arrow {
	float: right;
}

.arrow:after {
	content: "";
	clear: both;
}

@media (max-width: 991px) {
	h1 {
		text-align: center;
	}
	.container {
		padding: 25px;
	}
	.woman-mobile-container {
		margin: auto;
		display: block;
		bottom: 200px;
		right: 5px;
	}
	.bg-pattern-mobile {
		background-image: url("images/bg-pattern-mobile.svg");
		background-repeat: no-repeat;
		background-position: top center;
	}
	.empty-col {
		border: 3px solid green;
	}
}
