body {
	color: hsl(238, 29%, 16%);
	background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	font-size: 12px;
	font-family: 'Kumbh Sans', sans-serif;
}

h1 {
	text-align: center;
	font-size: 2rem;
}

hr {
	background-color: hsl(240, 5%, 91%);
	height: 1px;
	border: none;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	margin: 10px;
}

.content {
	background-color: white;
	border-radius: 1.5em;
	padding: 2em;
}

.questions {
	cursor: pointer;
	color: hsl(237, 12%, 33%);
}

.questions:hover {
	color: hsl(14, 88%, 65%);
}

.questions:active {
	color: hsl(238, 29%, 16%);
}

.answers {
	color: hsl(240, 6%, 50%);
}

.questions {
	display: block;
	margin: 20px 0 0;
}

input {
	display: none;
}

.hide-1 {
	display: none;
}

#item-1:checked + .hide-1 {
	display: block;
}

.hide-2 {
	display: none;
}

#item-2:checked + .hide-2 {
	display: block;
}

.hide-3 {
	display: none;
}

#item-3:checked + .hide-3 {
	display: block;
}

.hide-4 {
	display: none;
}

#item-4:checked + .hide-4 {
	display: block;
}

.hide-5 {
	display: none;
}

#item-5:checked + .hide-5 {
	display: block;
}
